version: "3"

services:
  app:
    build: .
    container_name: todo-app
    ports:
      - "3000:3000"
    restart: always
    depends_on:
      - mongodb

  mongodb:
    image: mongo
    container_name: mongo-db
    ports:
      - "27017:27017"
    restart: always

